/* ==========================================

             Custom Classes
             ~~~~~~~~~~~~~~
  All misc custom styles are set in this
  file.

========================================== */

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  background-color: #f8f8f8;
  border-radius: 15px;
  padding-bottom: 25px;
  margin-top: 25px;
}

.socialItem{
  margin: 5px;
}

.socialGrid img {
  width: 100%;
  border-radius: 15px;
}

.header{
  grid-area:hd;
}

.sidebar{
  grid-area: sd;
  display: none;
}

.content{
  grid-area: main;
  padding: 0 1.5em;
}

.divider {
  text-align: center;
  justify-content: center;
}

.socialShare{
  margin: auto;
}

.caption {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.75em;
}

.singleImg {
  width: 100%;
  border-radius: 15px;
}

.demoBox{
  height: 150px;
  width: 150px;
  border: #ff2222 dashed;
}

#f8f8f8 {
  color: #f8f8f8;
  background-color: #f8f8f8;
}

#e5e5db {
  color: #e5e5db;
  background-color: #e5e5db;
}

#ff2222 {
  color: #ff2222;
  background-color: #ff2222;
  border: #f8f8f8 dashed;
}

#black {
  color: #000;
  background-color: #000;
}