/* 
----------
Body 
----------
*/

body {
  max-width: 1200px;
  margin: auto;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Text Elements */

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

footer {
  height: auto;
  margin-top: 5px;
  text-align: center;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.socialGrid > *{
  border: 2px solid grey;
}

.socialItem{
  margin: 5%;
}

.socialGrid img {
  width: 100%
}

.header{
  grid-area:hd;
}

.sidebar{
  grid-area: sd;
  display: none;
}

.content{
  grid-area: main;
  padding: 0 1.5em;
}

.divider {
  text-align: center;
  justify-content: center;
}

/* Navigation */

.navbar {
  text-decoration: none;
  padding-bottom: 2em;
  padding-top: 1em;
}

.navbar a {
  color: black;
  float: left;
  text-align: center;
  padding-right: 1em;
  text-decoration: none;
  font-size: 1.25em;
}

.navbar > #right {
  float: right;
  text-align: center;
  padding-left: 1em;
  text-decoration: none;
  font-size: 1.25em;
}

.navbar a:hover {
  color: red;
  text-decoration: currentColor;
}

/* Author Info (Biography) */

.authorinfo {
  background-color: rgb(233, 233, 233);
  padding: 1em;
  border-radius: 5px;
  float: right;

  display: grid;
}

.authorinfo h3 {
  padding-left: 1em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.authorinfo p {
  padding-left: 1em;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.authorinfo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
}

@media(min-width:350px) {
  .authorimg {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .authortext {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}


@media(min-width:900px) {
  .container{
      display:grid;
      grid-template-columns: 20% 60%;
      grid-template-rows: fit-content(100px);
      grid-template-areas: 
      "hd hd"
      "sd main"
  }

  .sidebar{
    display: unset;
  }

  .contentGrid{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .socialGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .navbar a {
    padding-right: 1.5em;
    font-size: 1.5em;
  }
  
  .navbar > #right {
    padding-left: 1.5em;
    font-size: 1.5em;
  }
}

/* If Screen Is Wide Enough
@media(min-width:3000) {
  .contentGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .socialGrid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
} */

/*
-----------------
  Card properties
-----------------
*/

.card {
  background-color: #e9e9e9;
  
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  margin: 5%
}

img {
  border-radius: 5px 5px 0 0;
}
.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.025); 
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.25);
}